*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tela{
    margin: 10px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;

}